/* PAGE */
.cart-wrapper {
  padding: 30px 6%;
  background: #f1f3f6;
  min-height: 80vh;
}

/* HEADER */
.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.cart-header h2 {
  font-size: 22px;
}

.secure {
  font-size: 14px;
  color: #388e3c;
}

/* LAYOUT */
.cart-layout {
  display: flex;
  gap: 24px;
}

/* CART ITEMS */
.cart-items {
  flex: 2;
}

/* CART ITEM CARD */
.cart-item {
  background: #fff;
  padding: 16px;
  margin-bottom: 16px;
  display: flex;
  gap: 20px;
  border-radius: 6px;
}

/* IMAGE */
.cart-item img {
  width: 120px;
  height: 120px;
  object-fit: contain;
}

/* DETAILS */
.cart-details h4 {
  font-size: 16px;
  margin-bottom: 6px;
}

.cart-details .price {
  font-weight: 600;
  margin-bottom: 10px;
}

/* QTY */
.qty-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.qty-controls button {
  padding: 4px 10px;
  border: 1px solid #ccc;
  background: #fff;
  cursor: pointer;
}

.remove-btn {
  margin-top: 10px;
  background: none;
  border: none;
  color: #2874f0;
  cursor: pointer;
}

/* PRICE BOX */
.price-box {
  flex: 1;
  background: #fff;
  padding: 20px;
  height: fit-content;
  border-radius: 6px;
  position: sticky;
  top: 90px;
}

.price-box h3 {
  font-size: 16px;
  color: #878787;
  margin-bottom: 15px;
}

.price-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 14px;
}

.price-row.total {
  font-weight: 600;
  font-size: 16px;
}

.free {
  color: #388e3c;
  font-weight: 600;
}

/* BUTTON */
.checkout-btn {
  width: 100%;
  padding: 12px;
  background: #fb641b;
  color: #fff;
  border: none;
  font-weight: 600;
  margin-top: 15px;
  cursor: pointer;
}

/* SAVE TEXT */
.save-text {
  margin-top: 10px;
  color: #388e3c;
  font-size: 13px;
}

/* MOBILE */
@media (max-width: 768px) {
  .cart-layout {
    flex-direction: column;
  }

  .price-box {
    position: static;
  }
}

.empty-cart {
  background: #fff;
  padding: 40px;
  text-align: center;
  border-radius: 6px;
}

.empty-cart h3 {
  margin-bottom: 10px;
}

.shop-btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background: #2874f0;
  color: #fff;
}
